h1 {
    color: hsl(229, 31%, 21%);
}

p {
    color: hsl(229, 8%, 60%);
}

.btn:hover {
    border: 2px solid hsl(229, 31%, 21%);
    background: #fff;
    color: hsl(229, 31%, 21%);
}

.btn-blue {
    background: hsl(231, 69%, 60%);
    color: white;
}

.btn-blue:hover {
    border: 2px solid hsl(231, 69%, 60%);
    background: #fff;
    color: hsl(231, 69%, 60%);
}

.home {
    padding: 5% 8%;
}

.w-50 img {
    position: relative;
    left: 13%;
}

.box {
    background: hsl(231, 69%, 60%);
    height: 60%;
    top: 45%;
    right: -50%;
}