<div class="w-100 d-flex gap-0 home">
    <div class="d-flex flex-column justify-content-center gap-4 w-50 ">
        <h1 class="lh-sm fw-bold mb-2 ">
            A Simple Bookmark <br> Manager
        </h1>
        <p>
            A clean and simple interface to organize your favourite <br>
            websites. Open a new browser tab and see your sites load <br>
            instantly. Try it for free.
        </p>
        <div class="d-flex gap-3 align-content-center">
            <button type="button" class="btn btn-lg btn-blue shadow fs-6 fw-medium">Get it on Chrome</button>
            <button type="button" class="btn btn-lg btn-light shadow fs-6 fw-medium">Get it on Firefox</button>
        </div>
    </div>
    
    <div class="position-relative w-50">
        <img src="../../assets/illustration-hero.svg" class="w-100" alt="illustration-hero-image">
        <div class="box z-n1 w-100 rounded-pill position-absolute"></div>
    </div>
</div>