<div class="d-flex flex-column justify-content-center gap-4 py-5 w-50 mx-auto">
    <header class="text-center">
        <h3 class="text-capitalize fs-2 fw-bold lh-base">Frequently asked questions</h3>
        <p class="lh-base mb-4">
            Here are some of our FAQs. If you have any other questions <br>
            you'd like answered please feel free to email us.
        </p>
    </header>

    <mat-accordion>
        <mat-expansion-panel class="w-75 mx-auto py-2 shadow-none border border-start-0 border-end-0">
          <mat-expansion-panel-header>
            <mat-panel-title class="fw-medium fs-6 hover">What is Bookmark?</mat-panel-title>
          </mat-expansion-panel-header>
          <p class="w-100 p-class">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt <br>
            justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.
        </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="w-75 mx-auto py-2 shadow-none border border-start-0 border-end-0">
          <mat-expansion-panel-header>
            <mat-panel-title class="fw-medium fs-6 hover">How can I request a new browser?</mat-panel-title>
          </mat-expansion-panel-header>
          <p class="w-100 p-class">
            Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula. <br>
            Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, <br>
            ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies. <br>
            Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="w-75 mx-auto py-2 shadow-none border border-start-0 border-end-0">
            <mat-expansion-panel-header>
              <mat-panel-title class="fw-medium fs-6 hover">Is there a mobile app?</mat-panel-title>
            </mat-expansion-panel-header>
            <p class="w-100 p-class">
                Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum <br>
                urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed <br>
                sollicitudin ex et ultricies bibendum.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel class="w-75 mx-auto py-2 shadow-none border border-start-0 border-end-0">
            <mat-expansion-panel-header>
              <mat-panel-title class="fw-medium fs-6 hover">What about other Chromium browsers?</mat-panel-title>
            </mat-expansion-panel-header>
            <p class="w-100 p-class">
                Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam <br>
                vitae neque eget nisl gravida pellentesque non ut velit.
            </p>
          </mat-expansion-panel>
      </mat-accordion>

      <button class="btn mx-auto text-white fw-medium px-4 py-2 shadow mb-5">More Info</button>
</div>