<div class="container-fluid d-flex align-items-center justify-content-between footer">
    <div class="d-flex align-items-center gap-5 ">
        <img src="../../assets/logo-bookmark-footer.svg" alt="footer-logo">
        <nav>
            <ul class="nav text-uppercase fw-medium">
                <li class="nav-item">
                    <a class="nav-link text-white fw-normal" aria-current="page" routerLink="#">features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white fw-normal" routerLink="#">pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white fw-normal" routerLink="#">Contact</a>
                  </li>
              </ul>
        </nav>
    </div>

    <div class="d-flex gap-5">
        <img src="../../assets/icon-facebook.svg" alt="facebook">
        <img src="../../assets/icon-twitter.svg" alt="twitter">
    </div>
</div>