 <div class="d-flex align-items-center flex-column justify-content-center gap-4 py-5">
    <header class="text-center">
        <h3 class="fs-3 fw-medium">Download the extension</h3>
        <p>
            We've got more browsers in the pipeline. Please do let us know if <br>
            you've got a favorite you'd like us to prioritize.
        </p>
    </header>

    <div class="grid-cards">
        <mat-card class="card d-flex flex-column justify-content-center pt-5 pb-3 shadow rounded-4">
            <img 
                mat-card-sm-image 
                src="../../assets/logo-chrome.svg" 
                alt="chrome-image"
                class="mx-auto"
            >
            <mat-card-header class="mx-auto mb-4">           
                <mat-card-title>Add to Chrome</mat-card-title>
                <mat-card-subtitle>Medium version 62</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="mb-2">
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button type="button" class="btn btn-add">Add & install extension</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card d-flex flex-column justify-content-center pt-5 pb-3 shadow rounded-4">
            <img 
                mat-card-sm-image 
                src="../../assets/logo-chrome.svg" 
                alt="chrome-image"
                class="mx-auto"
            >
            <mat-card-header class="mx-auto mb-4">           
                <mat-card-title>Add to Firefox</mat-card-title>
                <mat-card-subtitle>Medium version 55</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="mb-2">
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button type="button" class="btn btn-add">Add & install extension</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card d-flex flex-column justify-content-center pt-5 pb-3 shadow rounded-4">
            <img 
                mat-card-sm-image 
                src="../../assets/logo-chrome.svg" 
                alt="chrome-image"
                class="mx-auto"
            >
            <mat-card-header class="mx-auto mb-4">           
                <mat-card-title>Add to Opera</mat-card-title>
                <mat-card-subtitle>Medium version 46</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="mb-2">
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button type="button" class="btn btn-add">Add & install extension</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>