<div class="container-fluid tabs">
    <h3 class="text-center fs-2 mb-4 fw-bold">Features</h3>
    <p class="text-center w-100 lh-base mb-5">
        Our aim is to make it quick and easy for you to access your <br>
        favourite websites. Your bookmarks sync between your devices <br>
        so you can access them on the go.
    </p>

    <mat-tab-group animationDuration="3000ms">
        <mat-tab label="Simple Bookmarking">
            <div class="d-flex w-100 py-5 overflow-hidden ">
                <div class="hero position-relative w-50">
                    <img src="../../assets/illustration-features-tab-1.svg" class="w-75" alt="illustration-faetures-image">
                    <div class="box z-n1 w-100 h-50 rounded-pill position-absolute"></div>
                </div>
                <div class="d-flex flex-column justify-content-lg-center gap-4 w-50 home-mob">
                    <h3 class="lh-sm fw-bold mb-2 fs-1">
                        Bookmark in one click
                    </h3>
                    <p>
                        Organize your bookmarks howerve you like. Our <br>
                        simple drag-and drop interface gives you complete <br>
                        control over how you manage your favourite sites.
                    </p>
                    <div class="d-flex gap-3 align-content-center">
                        <button type="button" class="btn btn-sm btn-blue shadow fs-6 fw-medium py-2 px-3">More Info</button>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Speedy Searching">
            <div class="d-flex w-100 py-5 overflow-hidden ">
                <div class="hero position-relative w-50">
                    <img src="../../assets/illustration-features-tab-2.svg" class="w-75" alt="illustration-faetures-image">
                    <div class="box z-n1 w-100 h-50 rounded-pill position-absolute"></div>
                </div>
                <div class="d-flex flex-column justify-content-lg-center gap-4 w-50 home-mob">
                    <h3 class="lh-sm fw-bold mb-2 fs-1">
                        Intelligent search
                    </h3>
                    <p>
                        Our powerful search feature will help you find saved <br>
                        sites in no time at all. No need to trawl through all of <br>
                        your bookmarks.
                    </p>
                    <div class="d-flex gap-3 align-content-center">
                        <button type="button" class="btn btn-sm btn-blue shadow fs-6 fw-medium py-2 px-3">More Info</button>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Easy Sharing">
            <div class="d-flex w-100 py-5 overflow-hidden ">
                <div class="hero position-relative w-50">
                    <img src="../../assets/illustration-features-tab-3.svg" class="w-75" alt="illustration-faetures-image">
                    <div class="box z-n1 w-100 h-50 rounded-pill position-absolute"></div>
                </div>
                <div class="d-flex flex-column justify-content-lg-center gap-4 w-50 home-mob">
                    <h3 class="lh-sm fw-bold mb-2 fs-1">
                        Share your bookmarks
                    </h3>
                    <p>
                        Easily share your bookmarks and collections with <br>
                        others. Create a shareable link that you can send at <br>
                        the click of a button.
                    </p>
                    <div class="d-flex gap-3 align-content-center">
                        <button type="button" class="btn btn-sm btn-blue shadow fs-6 fw-medium py-2 px-3">More Info</button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>